@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Ubuntu:wght@300;700&family=Varela+Round&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Varela Round', sans-serif; */

* {
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(30, 30, 30);
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ababab;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Style page content */
  .main {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 20px;
  }
  .row {
    display: flex;
  }

  .sidenav ul {
    list-style-type: none;
  }
  
.logo img{
    width: 150px;
    height: 150px;
}

.card {
    margin: 20px auto;
    height: 300px;
    width: 25%;
    background: rgb(52, 52, 52);
    border-radius: 5px;
}

.cover img {
  margin: 5%;
  height: 200px;
  width: 90%;
  border-radius: 5px;
}

.song {
  text-align: center;
}

.description {
  color: #ababab;
  text-align: left;
  font-weight: lighter;
  overflow: hidden;
  width: 90%;
  height: 40px;
  margin: 5px auto;
}

/* On smaller screens, where width is less than 500pxpx, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 500px) {
    .sidenav {width: 160px;}
    .sidenav a {font-size: 15px;}
    .logo img{height:100px; width:100px;}
    .main {margin-left: 160px;}
    /* .card {height: 100px;} */
}

/* @media screen and (max-width: 1000px) {
    .card {height: 200px;}
} */